<!--Login html-->
<div class="container mx-auto flex items-center justify-center min-h-screen">
  <div class="bg-green-800 w-[90%] max-w-[800px] flex flex-col items-center justify-between px-4 md:px-8 pt-4 md:pt-4 pb-8 md:pb-10">
    <div class="grid grid-cols-3 w-full mb-1">
      <h4 class="text-white text-left text-sm md:text-base">ইয়া আল্লাহু !</h4>
      <h4 class="text-white text-center text-sm md:text-base">ইয়া রাহমানু !</h4>
      <h4 class="text-white text-right text-sm md:text-base">ইয়া রাহীম !!!</h4>
    </div>

    <div class="bg-yellow-300 w-full rounded-b-[40px] flex flex-col items-center justify-start p-6 md:p-10">
      <h1 class="text-2xl md:text-4xl font-bold text-black text-center">Login Here</h1>

      <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="mt-8 w-full">
        <label class="text-sm md:text-xl font-bold">Username</label>
        <input
          type="text"
          formControlName="email"
          placeholder="Username"
          class="w-full p-3 md:p-4 rounded-lg mb-4 mt-2 bg-white border border-white focus:ring-2 focus:ring-green-600 focus:outline-none"
        />

        <label class="text-sm md:text-xl font-bold">Password</label>
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
          class="w-full p-3 md:p-4 rounded-lg mb-4 mt-2 bg-white border border-white focus:ring-2 focus:ring-green-600 focus:outline-none"
        />

        <button
          type="submit"
          class="w-full bg-green-800 text-white py-3 md:py-4 rounded-lg hover:bg-green-700 transition-colors font-medium"
        >
          Sign In
        </button>
      </form>

      <p class="text-black mt-6 text-center text-sm md:text-xl">
        <span>Don't have an account? <a routerLink="/auth/signup" class="text-green-700 font-bold">Signup</a></span>
      </p>
    </div>

    <h1 class="text-white text-sm md:text-4xl mt-4">চন্দ্রপাড়া পাক দরবার শরীফ</h1>
  </div>
</div>
